In [6]:
import pandas as pd
import numpy as np
import seaborn as sns

In [7]:
data= pd.read_csv('EDA_Shark_Tank_India.xlsx - Sheet1.csv')

In [8]:
data.head()

,episode_number,pitch_number,brand_name,idea,deal,pitcher_ask_amount,ask_equity,ask_valuation,deal_amount,deal_equity,...,ashneer_deal,anupam_deal,aman_deal,namita_deal,vineeta_deal,peyush_deal,ghazal_deal,total_sharks_invested,amount_per_shark,equity_per_shark
0,1,1,BluePine Industries,Frozen Momos,1,50.0,5.0,1000.00,75.0,16.00,...,1,0,1,0,1,0,0,3,25.0,5.333333
1,1,2,Booz scooters,Renting e-bike for mobility in private spaces,1,40.0,15.0,266.67,40.0,50.00,...,1,0,0,0,1,0,0,2,20.0,25.000000
2,1,3,Heart up my Sleeves,Detachable Sleeves,1,25.0,10.0,250.00,25.0,30.00,...,0,1,0,0,1,0,0,2,12.5,15.000000
3,2,4,Tagz Foods,Healthy Potato Chips,1,70.0,1.0,7000.00,70.0,2.75,...,1,0,0,0,0,0,0,1,70.0,2.750000
4,2,5,Head and Heart,Brain Development Course,0,50.0,5.0,1000.00,0.0,0.00,...,0,0,0,0,0,0,0,0,0.0,0.000000

1 : find the number of episode?

In [10]:
q=data['episode_number'].unique()
print('the total number of episode are', len(q))

the total number of episode are 35

2 :max,min,mean,of asked amount, asked equity, asked valuation?

In [11]:
data['pitcher_ask_amount'].max()

30000.0

In [12]:
data['pitcher_ask_amount'].min()

0.00101

In [17]:
data['pitcher_ask_amount'].mean()

319.8547094871795

3 :max & min asked-equity , asked-valuation and asked amount episode-wise?

In [13]:
data['ask_valuation'].max()

120000.0

In [14]:
data['ask_valuation'].min()

0.01

In [16]:
data['ask_valuation'].mean()

3852.4624786324785

In [12]:
df['ask_equity'].max()

25.0

In [13]:
df['ask_equity'].min()

0.25

In [18]:
data['ask_equity'].mean()

5.188034188034188

4 : Brand names in which 2,3,or 4 sharks are invested?

In [21]:
Brand_name=data.loc[(data['total_sharks_invested']>1)&(data['total_sharks_invested']<5),['brand_name','total_sharks_invested']]
Brand_name

                         brand_name  total_sharks_invested
0               BluePine Industries                      3
1                     Booz scooters                      2
2               Heart up my Sleeves                      2
9                             Cosiq                      2
11                           Bummer                      2
12                      Revamp Moto                      2
18               Raising Superstars                      2
21                     Beyond Snack                      2
22   Vivalyf Innovations- Easy Life                      2
24                            Altor                      2
25                            Ariro                      2
27                          Nuutjob                      3
28                         Meatyour                      3
29                        EventBeep                      3
32                            Farda                      2
35                             LOKA                      3
36                            Annie                      3
37                        Caragreen                      2
38                  The Yarn Bazaar                      4
39                The Renal Project                      2
44                          Cocofit                      3
45                     Bamboo India                      2
47                     Beyond Water                      2
48                        Let's Try                      2
50                    Aas Vidyalaya                      3
58                          WeSTOCK                      4
64                       Get a Whey                      3
66                  The Quirky Nari                      2
67                   Hair Originals                      3
75                     The Sass Bar                      2
85               Watt Technovations                      4
88                         Humpy A2                      3
90         Gold Safe Solutions Ind.                      3
91                      Wakao Foods                      3
95                     Kabaddi Adda                      2
108                      Tweek Labs                      3
109                          Proxgy                      2
110              Nomad Food Project                      4
114                   Jain Shikanji                      4

5 : Episode wise minimum and maximum of sharks invested?

In [23]:
sharks=data.groupby('episode_number')['total_sharks_invested'].agg([max,min])
sharks

                max  min
episode_number
1                 3    2
2                 1    0
3                 1    0
4                 2    0
5                 2    0
6                 5    0
7                 2    0
8                 2    1
9                 2    0
10                3    3
11                2    0
12                3    0
13                4    2
14                2    0
15                3    1
16                2    0
17                5    0
18                1    0
19                4    0
20                5    0
21                3    1
22                3    0
23                1    0
24                2    0
25                5    0
26                1    0
27                4    0
28                3    0
29                3    0
30                2    0
31                1    0
32                1    0
33                3    0
34                4    0
35                4    0

6 : minimum & maximum sharks invested in each brand?

In [28]:
pd.options.display.max_rows = None
max_or_min= data.groupby('brand_name')['total_sharks_invested'].agg([max,min]).style

max_or_min.background_gradient(cmap='vlag')
max_or_min

7 : Brand names who ask for 1 crore and got a deal?

In [29]:
data[(data["pitcher_ask_amount"] == 100) & (data["deal"] == 1)][["brand_name","pitcher_ask_amount","deal_amount"]]

             brand_name  pitcher_ask_amount  deal_amount
12          Revamp Moto               100.0        100.0
39    The Renal Project               100.0        100.0
55                 Otua               100.0          1.0
64           Get a Whey               100.0        100.0
71         Namhya Foods               100.0         50.0
79  Sunfox Technologies               100.0        100.0
87   Insurance Samadhan               100.0        100.0

8 : Brand names where deal equity is between 0 to 50?

In [30]:
data[(data["deal_equity"]  >= 0) & (data["deal_equity"] <=50)][["brand_name", "ask_equity","deal_equity"]]

                         brand_name  ask_equity  deal_equity
0               BluePine Industries        5.00        16.00
1                     Booz scooters       15.00        50.00
2               Heart up my Sleeves       10.00        30.00
3                        Tagz Foods        1.00         2.75
4                    Head and Heart        5.00         0.00
5                      Agro tourism        5.00         0.00
6                       Qzense Labs        0.25         0.00
7                         Peeschute        4.00         6.00
8                              NOCD        2.00        15.00
9                             Cosiq        7.50        25.00
10                     JhaJi Achaar       10.00         0.00
11                           Bummer        4.00         7.50
12                      Revamp Moto        1.00         1.50
13                     Hungry Heads        5.00         0.00
14               Shrawani Engineers       20.00         0.00
15                      Skippi Pops        5.00        15.00
16                     Menstrupedia       10.00        20.00
17                          Hecolll        1.00         0.00
18               Raising Superstars        2.00         4.00
19                         Torch-it        1.00         0.00
20                    La Kheer Deli        7.50         0.00
21                     Beyond Snack        2.50         2.50
22   Vivalyf Innovations- Easy Life        7.50        33.30
23                    Motion Breeze        3.00         6.00
24                            Altor        5.00         7.00
25                            Ariro        2.50        10.00
26                  Kabira Handmade        5.00         0.00
27                          Nuutjob        5.00        20.00
28                         Meatyour        5.00        20.00
29                        EventBeep        2.00         3.00
30                       Gopal's 56       25.00         0.00
31         ARRCOAT Surface Textures        5.00        15.00
32                            Farda       10.00        20.00
33                   Auli Lifestyle        4.00        15.00
34                         SweeDesi        3.00         0.00
35                             LOKA        5.00        24.00
36                            Annie        5.00         3.00
37                        Caragreen       10.00        20.00
38                  The Yarn Bazaar        2.00        10.00
39                The Renal Project        3.00         6.00
40               Morikko Pure Foods        3.00         0.00
41             Good Good Piggy Bank        5.00         0.00
42                 Hammer Lifestyle        3.00        40.00
43                              PNT        4.00        25.00
44                          Cocofit        5.00         5.00
45                     Bamboo India        4.00         3.50
46                      Flying Furr        7.00         0.00
47                     Beyond Water        4.00        15.00
48                        Let's Try        2.00        12.00
49            Find Your Kicks India       10.00        25.00
50                    Aas Vidyalaya        3.00        15.00
51                           Outbox        5.00         0.00
52                       RoadBounce       10.00        20.00
53                  Mommy's Kitchen        3.00         0.00
54                India Hemp and Co        4.00         0.00
55                             Otua        1.00         1.00
56                        Anthyesti        2.50         0.00
57                            Ethik        5.00         0.00
58                          WeSTOCK        5.00        10.00
59                        KetoIndia        1.25         0.00
60                       Magic lock        8.00         0.00
61                  The State Plate        2.00         3.00
62                         Bakarmax        5.00         0.00
63                         IN A CAN        2.00        10.00
64                       Get a Whey        8.00        15.00
66                  The Quirky Nari        5.00        24.00
67                   Hair Originals        2.00         4.00
68                   Poo de Cologne        5.00         0.00
69                  Moonshine Meads        5.00         0.00
70                          Falhari        2.00         0.00
71                     Namhya Foods        5.00        10.00
72                     Urban Monkey        1.00         0.00
73                   Guardian Gears        5.00         0.00
74                      Modern Myth        5.00         0.00
75                     The Sass Bar        8.00        35.00
76                      KG Agrotech       10.00        40.00
77                   Nuskha Kitchen       10.00         0.00
78                        PawsIndia        4.00        15.00
79              Sunfox Technologies        2.00         6.00
80                           Alpino        2.00         0.00
81                  Isak Fragrances        8.00        50.00
82                 Julaa Automation       10.00         0.00
83                      Rare Planet        1.00         3.00
84                     Theka Coffee       10.00         0.00
85               Watt Technovations       10.00         4.00
86              Aliste Technologies        5.00         0.00
87               Insurance Samadhan        1.00         4.00
88                         Humpy A2        4.00        15.00
89                     Kunafa World        5.00         0.00
90         Gold Safe Solutions Ind.        5.00        30.00
91                      Wakao Foods        5.00        21.00
92                       PDD Falcon        3.00         0.00
93                       PlayBox TV        3.50         0.00
94        Sippline Drinking Shields       15.00         0.00
95                     Kabaddi Adda        1.00         6.00
96                 Shades of Spring        1.00         0.00
97                         Scholify        7.50         0.00
98                       Scrapshala       10.00         0.00
99                       Sabjikothi        2.50         0.00
100                        AyuRythm        2.00         2.68
101                          Astrix        3.00         0.00
102                    Thea and Sid        7.00         0.00
103                 Experential Etc        4.00         0.00
104                      GrowFitter        1.00         2.00
105                        Med Tech        6.00         0.00
106                   Colour Me Mad       10.00        25.00
107                          Mavi's        5.00         0.00
108                      Tweek Labs        2.00        10.00
109                          Proxgy        1.00        10.00
110              Nomad Food Project       10.00        20.00
111                     Twee in One        7.50         0.00
112                   Green Protein        2.00         0.00
113                         On2Cook        1.00         0.00
114                   Jain Shikanji        8.00        30.00
115                           Woloo        4.00         0.00
116                    Elcare India        2.50         0.00

9 : find the numbers of brand participated in each episode?

In [32]:
shark=data.groupby('episode_number')['brand_name'].count()
shark

episode_number
1     3
2     3
3     3
4     3
5     3
6     3
7     3
8     3
9     3
10    3
11    3
12    3
13    3
14    3
15    3
16    4
17    4
18    4
19    4
20    3
21    3
22    4
23    4
24    3
25    3
26    3
27    4
28    3
29    3
30    4
31    4
32    4
33    4
34    4
35    3
Name: brand_name, dtype: int64

10 : How many sharks participated in this show and what were thier names?

In [33]:
print("total number of sharks in this data:",len(data.columns[11:18]))
shark_present=data.columns[11:18]
print("Names of the Sharks are: ", """ashneer, anupam, aman, namita,
       vineeta, peyush, ghazal"""
      )

total number of sharks in this data: 7
Names of the Sharks are:  ashneer, anupam, aman, namita,
       vineeta, peyush, ghazal

11 : find the appearance of each sharks?

In [34]:
ab=data[["ashneer_present","anupam_present","aman_present","namita_present","vineeta_present","peyush_present","ghazal_present"]]
Present=ab.sum()
Present

ashneer_present     98
anupam_present     117
aman_present        98
namita_present     106
vineeta_present     66
peyush_present      88
ghazal_present      26
dtype: int64

12 : How many enterpreneurs were present?

In [35]:
data["pitch_number"].nunique()

117

13 : How many times each shark invested the deal?

In [42]:
data['ashneer_deal'].sum()

21

In [45]:
data['anupam_deal'].sum()

24

In [46]:
data['aman_deal'].sum()

28

In [47]:
data['namita_deal'].sum()

22

In [48]:
data['vineeta_deal'].sum()

15

In [49]:
data['peyush_deal'].sum()

27

In [50]:
print("No.of deals invested by each shark:")
for i in data.columns[18:25]:
    s=data[i].sum()
    print(i,s)

No.of deals invested by each shark:
ashneer_deal 21
anupam_deal 24
aman_deal 28
namita_deal 22
vineeta_deal 15
peyush_deal 27
ghazal_deal 7

14 : Find the equity percent that each sharks gets?

In [51]:
l = []
for i in data.columns[18:25]:
    x=data[data[i]==1]
    s=x["equity_per_shark"].sum()
    l.append(s)
    print(i,"total equity",s)

ashneer_deal total equity 93.249999999
anupam_deal total equity 166.35
aman_deal total equity 160.263333334
namita_deal total equity 134.78333333400002
vineeta_deal total equity 131.533333333
peyush_deal total equity 315.84999999999997
ghazal_deal total equity 46.7

In [52]:
for i in data.columns[18:25]:
    x=data[data[i]==1]
    s=x["equity_per_shark"].sum()
    
    print(i,"Equity percent:",s*100/sum(l))

ashneer_deal Equity percent: 8.891707112316801
anupam_deal Equity percent: 15.862042661123454
aman_deal Equity percent: 15.281658132598478
namita_deal Equity percent: 12.852052800434812
vineeta_deal Equity percent: 12.542154161032869
peyush_deal Equity percent: 30.117380069226584
ghazal_deal Equity percent: 4.453005063266999

15 : Find the total number of amount invested in this show?

In [41]:
data['deal_amount'].sum()

3742.00106

In [39]:
x = data[data["deal"]==1]
x['deal_amount'].sum()

3642.00106